@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
  font-family: Montserrat;
  font-weight: 600;
  background-color: blanchedalmond;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.menu-bar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.search-box{
  font-family: inherit;
  
}
.add-container{
  
  display: flex;
  justify-content: center;
  
}
.search-container{
  
  display: flex;
  
}
.notes-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-item{
  font-family: Montserrat;
 
}

.add-item:hover{
  border: 10px solid black;
}
.add-button{
  background: none;
  border: none;
}
ul{
  list-style: none;
}
.note-item{
  list-style-position:inside;
  border-bottom: 1px solid darkslategray;
  margin: auto;
  background-color: #fff3e0;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 70%;
}
.note-item:hover{
  background-color: #ffe7c2;
}

.content-container{
  margin: auto;
  width: 50%;
}

.item-text{
  
  float: left;
  
}


.remove-icon:hover{
  background-color: #70ff94;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
